<div class="page">
    <div id="headerContainer">
      <header id="main">
        <div id="headerLeft">
          <a href="#" id="mainLogo"><%= image_tag "logo.png" %></a>
          <input type="search" placeholder="search" />
        </div>
        <div id="headerMenu">
          <div id="dashboard" class="left">
            <div class="left"></div>
            <a href="#">Dashboard</a>
          </div>
          <div id="notiMenu" class="left">
            <div class="left"></div>
            <a href="#">Notifications</a>
          </div>
          <div id="createNewMenu" class="left">
            <div class="left"></div>
            <a href="#">Create New</a>
          </div>
          <div id="userMenu">
            <a href="#"><%= image_tag "rails.png", :class => "left" %> Morteza Heydari</a>
            <ul id="userDrop">
              <li>
                <div id="editProfile" class="left">
                  <div class="left"></div>
                  <a href="#">Edit Profile</a>
                </div>
              </li>
              <li>
                <div id="manageOffering" class="left">
                  <div class="left"></div>
                  <a href="#">Manage Offerings</a>
                </div>
              </li>
              <hr>
              <li><a href="#" id="signOutTop">Sign out</a></li>
            </ul>
          </div>

        </div>

      </header>
    </div>
    
    

  <div class="userInfo">
    <div class="UserProfileCard">
      <div class="large"></div>
      <h1>Abdullah Al Jouan</h1>
      <div class="small"></div>
      <div class="small"></div>
      <a href="#">http://www.google.com/</a>
      <footer>
        <span>First Boomer</span>
        <span >1</span>
        <%= image_tag "test.png" %><span>122</span>
      </footer>
    </div>

    <div class="stats">
      <span class="statsHeader">Basic Stats</span>
      <div>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="statLabel">
              Classes:
            </td>
            <td class="statNumber">
              11
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Games:
            </td>
            <td class="statNumber">
              7
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Tournaments:
            </td>
            <td class="statNumber">
              1
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Teams:
            </td>
            <td class="statNumber">
              4
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Wins:
            </td>
            <td class="statNumber">
              7
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Losses:
            </td>
            <td class="statNumber">
              2
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="activityOrigin">
      <div class="OriginTitle">Activity Originator</div>
      <div class="img"></div>
      <a href="#" class="originTitle">Morteza Mansour Heydari</a>
      <p>Level 2: Game Originator</p>
    </div>

    <a href="#" class="button blue left">Follow</a>
    <a href="#" class="button blue left">Challenge</a>
    <a href="#" class="button blue left">Recommend</a>


  </div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="players"><a href="#">Players</a></li>
        <li id="activities"><a href="#">Activities</a></li>
        <li><a href="#">Likes (14)</a></li>
        <li><a href="#">Following (21)</a></li>
        <li><a href="#">Followers (22)</a></li>
      </ul>
    </nav>
  </div>

  <div class="body">
    <div class="cards">

      <% i = 0
         while i<12 do %>
          <article class="userCard">
            <header class="userCardHeader">
              <a href="#">
                <%= image_tag "bg.png", class: "userCardImage left" %>
              </a>
              <h5 class="userCardTitle text-left">
                <a href="#">Abdulmohsen al Abdulmuralib</a>
              </h5>
            </header>

            <div class="userCardLevel">
              <p>Level: First Boomer</p>
            </div>

            <div class="userCardRecent text-left">
              <p>Recent Activities</p>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </article>

      <% i = i + 1
         end %>
    </div>

    <div class="activityCards">
      <% i = 0
         while i<6 do %>
          <article class="activityBox">
            <header class="activityHeader">
              <a href="#">
                <%= image_tag "bg.png", class: "activityImage" %>
              </a>
              <h5 class="activityTitle text-left">
                <a href="#">The maximum words available okay</a>
              </h5>
              <p class="text-left">Cross Country Running</p>
            </header>

            <div class="activityBody text-center">
              <ul class="block-grid three-up">
                <li><%= image_tag "1.png" %></li>
                <li><div class="thumbsUp"></div> <span class="small-text">22</span> </li>
                <li><div class="featureStar"></div> </li>
              </ul>

            </div>
          </article>

      <% i = i + 1
         end %>

    </div>

    <div class="sideBar">

      <div class="sideBox">
        <div class="sideTitle">Intrests</div>
        <hr>
        <div class="sideTag">
          <span>Football</span>
          <span>Basketball</span>
          <span>Volleyball</span>
          <span>Jet Ski</span>
          <span>Karate</span>
          <span>Fitness</span>
        </div>
      </div>


      <div class="sideBox">
        <div class="sideTitle">Similar Players</div>
        <hr>
        <div class="sideImage">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>


</div>